# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/
test.py
test.json

# Distribution / packaging
dist/
build/
*.egg
*.whl

# Virtual environment
.venv/
venv/
env/
/bin/
/include/
/lib/
/share/

# Editor/IDE files
.vscode/
.idea/
*.swp
*.bak
*.swo
*~
.DS_Store

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables
.env
.flaskenv

# Testing
.pytest_cache/
htmlcov/
.coverage

# Jupyter Notebooks
.ipynb_checkpoints/

# Miscellaneous
*.tmp